body {
    background-image: linear-gradient(to right, #5661c9, #272e91, #7506cf);
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

#page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    display: flex;
    justify-content: center;
}

#principal-card {
    display: flex;
    box-shadow: 0px 0px 10px rgba(37, 37, 37, 0.4);
}

#card-dog {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: #171a22;
}

#card-dog img {
    width: 200px;
    transition: transform .3s ease-in-out;
}

#card-dog img:hover {
    transform: scale(1.08);
}

#card-form {
    padding: 15px;
    background-color: #c0c0c0;
}

#card-form .title img {
    width: 190px;
}

#card-form .subtitle {
    margin-top: 5px;
    margin-bottom: 5px;
}

#card-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

form .form-group {
    display: flex;
    flex-direction: column;
}

input, select {
    font-size: 1.1em;
    width: 340px;
    padding: 12px;
    margin-top: 4px;
    margin-bottom: 20px;

    border: none;
    border-radius: 1px;
    outline: none;

    transition: background-color .2s ease, color .2s ease;

}

input:hover, input:focus,
select:hover, select:focus {
    background-color: #171a22;
    color: #fff;
}

input[type=submit] {
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 1.5em;
    letter-spacing: 1px;
    font-weight: 600;
    color: #373838;

    transition: background-color .5s ease, color .8s ease;
}

input[type=submit]:hover {
    background-color: #171a22;
    color: #fff;
}

label {
    font-size: 1.2em;
    letter-spacing: .8px;
    pointer-events: none;
}

footer {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer h2 {
    font-size: .6em;
}

footer span {
    cursor: pointer;
    transition: color .3s ease;
}

footer span:hover {
    color: #fff;
}

footer .github {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

footer .github a {
    color: #000;

    transition: color .3s ease;
}

.github a:hover {
    color:#fff;
}

footer .github img {
    width: 45px;
    transition: transform .3s ease;
}

.github img:hover {
    transform: scale(1.14);
}

@media (max-width: 550px){
    #page {
        justify-content: flex-start;
    }

    main {
        flex-direction: column;
    }

    #principal-card {
        flex-direction: column;
    }

    #card-dog {
        width: auto;
    }

    #card-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #card-form .title img {
        width: 240px;
    }

    #card-form .subtitle {
        text-align: center;
    }

    #card-form form {
        display: block;
    }

    input, select {
        font-size: 1.2em;
        max-width: 340px;
        padding: 15px;
    }

    label {
        font-size: 1.3em;
    }

    footer h2 {
        font-size: .75em;
    }
}